*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: bisque;
    color: #fff;
}

.header{
    background-color: #333;
    padding: 20px;
    text-align: center;
}

.header h1{
    color: blue;
    font-size: medium;
    margin: 0;
}

.header nav a{
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
}

.header nav a:hover{
    text-decoration: underline;
    color: steelblue;
}

.header button{
    background: #e3e3e7;
    color: #fff;
    border: none;
    padding:  8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.banner{
    height: 450px;
    background: linear-gradient(
        to right,
        rgba(2, 6, 23, 0.7),
        rgba(2, 6, 23, 0.3),
    );
    background-size: cover;
    background-position: cover;
    padding: 100px 50px;
}

.banner h1{
    font-size: 48px;
    margin-bottom: 20px;
}

.banner p{
    font-size: 20px;
    margin-bottom: 30px;
}

.banner button{
    background: seashell;
    border: none;
    padding: 12px 24px;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

section{
    padding: 60px 40px;
}

section h2{
    font-size: 28px;
    margin-bottom: 30px;
    border-left: 5px solid steelblue;
    padding-left: 15px;
}

.movie-card{
    background: #e3e3e7;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.movie-card:hover{
    transform: translate(-8px);
}

.movie-card h3{
    margin: 12px;
}

.movie-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.movie-card p{
    margin: 0 12px;
    color: #4848e0;
    font-size: 14px;
}

.movie-card button{
    background: steelblue;
    border: none;
    padding: 10px 20px;;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.movie-card button:hover{
    background: #4848e0;
}

.movie-card button:first-of-type{
    background: cornflowerblue;
    color: #fff;
}

.movie-card button:last-of-type{
    background: steelblue;
    color: #fff;
}

.promotion ul li{
    background: #e3e3e7;
    padding: 15px;
    margin-bottom: 10px;
    border-left: 4px solid steelblue;
}